body {
    font-family: 'Vesper Libre'; 
    line-height: 1.5; 
    font-size: 1.25rem; 
    color: #1a1a1a; 
}
 img 
 {
    width: 100%;
}

figcaption .article-category .subtitle .author time 
{
    font-family: 'Open Sans'
}